<main>
	<section id="slide-1" class="homeSlide">
		<div class="bcg our-story" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1">
			<div class="hsContainer" >
				<div class="hsContent slide-1" data-center="bottom: 200px; opacity: 1" data-top="bottom:1200px; opacity:0.3" data-anchor-target="#slide-1" >
					<div class="container">
						<div class="wrapper">
							<div class="inner-wrapper">
								<div class="block-sec">
									<div class="inner-text">
										<div class="store-sec left">
											<h1 class="store-availability center">OUR STORY</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
		
	<section id="slide-4" class="homeSlide h-auto">
		<div class="" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-4">
			<div class="hsContainer">
				<div class="hsContent" data-bottom-top="opacity: 0" data-25p-top="opacity: 0" data-top="opacity: 1"  data-anchor-target="#slide-4">
					<div class="container">
						<div class="row work-mar1">
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="wrapper prfl">
									<div class="inner-wrapper">
										<div class="block-sec">
											<div class="inner-text">
												<div class="work-img">
													
													<%=image_tag("lee-profile.png")%>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="wrapper prfl-cnt">
									<div class="inner-wrapper">
										<div class="block-sec">
											<div class="inner-text">
												<div class="store-sec work-sec work-padd">
													<h4 class="story-desc">Hi I’m Lee Nazari, founder and CEO of SWOOPE & SWOOPOS. </h4>
													<p>Born just outside Birmingham in the UK, I have lived and breathed the retail and hospitality industry since the age of 12. </p>
													<p>

My father moved to the UK from Iran in the late 70s, without speaking a word of English. He worked his way up from pot-wash to business owner and at the age of 12 I started helping in his restaurants at the weekends. </p>
													<p>

From running multiple leisure venues I made the jump into the financial sector and spent several years at Morgan & Stanley. Following this, I moved into daily deals and worked alongside global brands like Groupon, Living Social and Wowcher. Most recently I worked as a consultant for a mobile wallet technology firm.</p>
													<p>

This breadth of experience has given me unique insight into business, sales, customer service, ecommerce, mobile payment, deals, loyalty, big data, beacon marketing… the list goes on. All of these things have huge potential but they are complex, disparate and inaccessible. </p>
													<p>

So I, along with my fantastic and ever growing team, have built an easy-to-use, all in one system. SWOOPOS and SWOOPE enable customers and businesses to communicate in a more meaningful way – empowering business owners and revolutionising the customer experience.  
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="team">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="center meet-title">MEET THE TEAM  </h2>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-4">
					<div class="team-section">
						<div class="team-image">
						<%=image_tag("lee.png")%>
						 
						</div>
						<div class="team-des">
						  <h4 class="team-name">Lee Nazari </h4>
						  <div class="team-position">CEO</div>
						  <div class="team-name-des">The one with no off switch </div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-section">
						<div class="team-image">
						 
						  <%=image_tag("james.png")%>
						 
						</div>
						<div class="team-des">
						  <h4 class="team-name">James Dyson</h4>
						  <div class="team-position">Customer Service Director</div>
						  <div class="team-name-des">The chatty one</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-section">
						<div class="team-image">
						 
						  <%=image_tag("john.png")%>
						</div>
						<div class="team-des">
						  <h4 class="team-name">John Checkley</h4>
						  <div class="team-position">Business Development Director</div>
						  <div class="team-name-des">The silent assassin</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-section">
						<div class="team-image">
						 <%=image_tag("raja.png")%>
						   
						</div>
						<div class="team-des">
						  <h4 class="team-name">Raja Singh </h4>
						  <div class="team-position">Sales Director</div>
						  <div class="team-name-des">The big heart</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-section">
						<div class="team-image">
						<%=image_tag("harry.png")%>
						   
						</div>
						<div class="team-des">
						  <h4 class="team-name">Harry Tawana</h4>
						  <div class="team-position">Financial Director/Investor</div>
						  <div class="team-name-des">The one with A++++ Maths GCSE</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-section">
						<div class="team-image">
						<%=image_tag("steve.png")%>
						 
						</div>
						<div class="team-des">
						  <h4 class="team-name">Steve Smith  </h4>
						  <div class="team-position">Business Director & Advisor</div>
						  <div class="team-name-des">The serial entrepreneur </div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-section">
						<div class="team-image">
						
						  <%=image_tag("neil.png")%>
						</div>
						<div class="team-des">
						  <h4 class="team-name">Neil Pymer</h4>
						  <div class="team-position">Creative Director</div>
						  <div class="team-name-des">Mesut Ozil’s better  looking twin</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-section">
						<div class="team-image">
						 <%=image_tag("amy.png")%>
						
						</div>
						<div class="team-des">
						  <h4 class="team-name">Amy Williams</h4>
						  <div class="team-position">Brand & Marketing Manager</div>
						  <div class="team-name-des">The lanky one</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-section">
						<div class="team-image">
						 <%=image_tag("michael.png")%>
						  
						</div>
						<div class="team-des">
						  <h4 class="team-name">Michael Wharton</h4>
						  <div class="team-position">Sales Executive</div>
						  <div class="team-name-des">The young gun</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>	