<main>
	<section id="slide-1" class="homeSlide">
		<div class="bcg vanue" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1">
			<div class="hsContainer" >
				<div class="hsContent slide-1" data-center="bottom: 200px; opacity: 1" data-top="bottom:1200px; opacity:0.3" data-anchor-target="#slide-1" >
					<div class="container">
						<div class="store-sec left">
							<h1 class="store-availability center">Pizza Quarter</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="vanue-area">
			<div class="panel with-nav-tabs panel-default">
				<div class="panel-heading">
					<div class="container">
						<ul class="nav nav-tabs center">
							<li class="active"><%=link_to "special offers","#tab1default" ,"data-toggle" =>"tab" %></li>
							<li><%=link_to "FOOD" ,"#tab2default", "data-toggle" =>"tab" %></li>
							<li><%=link_to "Drinks" ,"#tab3default", "data-toggle" =>"tab" %></li>
						</ul>
					</div>
				</div>
				<div class="panel-body">
					<div class="tab-content">
						<div class="tab-pane fade in active" id="tab1default">
							<div class="container">
								<div class="row">
									<div class="col-sm-6 col-md-4">
										<div class="offer-zone">
											<div class="offer-img clearfix">
												<div class="offer-img-left">
												<%=image_tag("pizza.png") %>
												</div>
												<div class="offer-img-right">
												<%=image_tag("veg-suppreme.jpg") %>
												
												</div>
											</div>
											<div class="offer-desc clearfix">
												<div class="discount-offer">20% off </div>
												<div class="offer-name">Vegge Supreme <span class="pull-right">£ 2.50 </span></div>
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-4">
										<div class="offer-zone">
											<div class="offer-img clearfix">
												<div class="offer-img-left">
													
												<%=image_tag("pizza.png") %>
												</div>
												<div class="offer-img-right">
												<%=image_tag("veg-suppreme.jpg") %>
												
												
												</div>
											</div>
											<div class="offer-desc clearfix">
												<div class="discount-offer">Free Garlic Bread </div>
												<div class="offer-name">with any large pizza</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-4">
										<div class="offer-zone">
											<div class="offer-img clearfix">
												<div class="offer-img-left">
												 <%=image_tag("pizza.png") %>
													
												</div>
												<div class="offer-img-right">
												<%=image_tag("veg-suppreme.jpg") %>
												
												
												</div>
											</div>
											<div class="offer-desc clearfix">
												<div class="discount-offer">Free Large Coke</div>
												<div class="offer-name">on purchase of £10</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-4">
										<div class="offer-zone">
											<div class="offer-img clearfix">
												<div class="offer-img-left">
												<%=image_tag("pizza.png") %>
													
												</div>
												<div class="offer-img-right">
												
												<%=image_tag("veg-suppreme.jpg") %>
												</div>
											</div>
											<div class="offer-desc clearfix">
												<div class="discount-offer">10% off  </div>
												<div class="offer-name">Country feast pizza <span class="pull-right">£ 2.70 </span></div>
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-4">
										<div class="offer-zone">
											<div class="offer-img clearfix">
												<div class="offer-img-left">
													
													<%=image_tag("pizza.png") %>
												</div>
												<div class="offer-img-right">
												<%=image_tag("veg-suppreme.jpg") %>
												
												</div>
											</div>
											<div class="offer-desc clearfix">
												<div class="discount-offer">Free Lava Cake </div>
												<div class="offer-name">with any medium pizza</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-4">
										<div class="offer-zone">
											<div class="offer-img clearfix">
												<div class="offer-img-left">
												<%=image_tag("pizza.png") %>
												</div>
												<div class="offer-img-right">
												<%=image_tag("veg-suppreme.jpg") %>
												
												</div>
											</div>
											<div class="offer-desc clearfix">
												<div class="discount-offer">Free Fries</div>
												<div class="offer-name">with every burger</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab2default">
							<div class="container">
								<div class="row">
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
											<%=image_tag("food-pic.png") %>
												
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
											<%=link_to image_tag("add-icon.png"),""%>
												
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<%=image_tag("food-pic.png") %>
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<%=link_to image_tag("add-icon.png"),""%>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<%=image_tag("food-pic.png") %>
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<%=link_to image_tag("add-icon.png"),""%>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<%=image_tag("food-pic.png") %>
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<%=link_to image_tag("add-icon.png"),""%>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<%=image_tag("food-pic.png") %>
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<%=link_to image_tag("add-icon.png"),""%>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<%=image_tag("food-pic.png") %>
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<%=link_to image_tag("add-icon.png"),""%>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<%=image_tag("food-pic.png") %>
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<%=link_to image_tag("add-icon.png"),""%>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<%=image_tag("food-pic.png") %>
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<%=link_to image_tag("add-icon.png"),""%>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<%=image_tag("food-pic.png") %>
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<%=link_to image_tag("add-icon.png"),""%>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<%=image_tag("food-pic.png") %>
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<%=link_to image_tag("add-icon.png"),""%>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<%=image_tag("food-pic.png") %>
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<%=link_to image_tag("add-icon.png"),""%>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<%=image_tag("food-pic.png") %>
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<%=link_to image_tag("add-icon.png"),""%>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<%=image_tag("food-pic.png") %>
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<%=link_to image_tag("add-icon.png"),""%>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<%=image_tag("food-pic.png") %>
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<%=link_to image_tag("add-icon.png"),""%>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<%=image_tag("food-pic.png") %>
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<%=link_to image_tag("add-icon.png"),""%>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<%=image_tag("food-pic.png") %>
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<%=link_to image_tag("add-icon.png"),""%>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab3default">
							<div class="container">
								<div class="row">
									<div class="col-sm-4">
										<div class="offer-zone">
											<div class="offer-img clearfix">
												<div class="offer-img-left">
												<%=image_tag("pizza.png") %>
												
												</div>
												<div class="offer-img-right">
												<%=image_tag("veg-suppreme.jpg") %>
												
												
												</div>
											</div>
											<div class="offer-desc clearfix">
												<div class="discount-offer">20% off </div>
												<div class="offer-name">Vegge Supreme <span class="pull-right">£ 2.50 </span></div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="offer-zone">
											<div class="offer-img clearfix">
												<div class="offer-img-left">
													<%=image_tag("pizza.png") %>
												</div>
												<div class="offer-img-right">
												<%=image_tag("veg-suppreme.jpg") %>
												
												</div>
											</div>
											<div class="offer-desc clearfix">
												<div class="discount-offer">Free Garlic Bread </div>
												<div class="offer-name">with any large pizza</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="offer-zone">
											<div class="offer-img clearfix">
												<div class="offer-img-left">
													<%=image_tag("pizza.png") %>
												</div>
												<div class="offer-img-right">
												<%=image_tag("veg-suppreme.jpg") %>
												
												</div>
											</div>
											<div class="offer-desc clearfix">
												<div class="discount-offer">Free Large Coke</div>
												<div class="offer-name">on purchase of £10</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="offer-zone">
											<div class="offer-img clearfix">
												<div class="offer-img-left">
													<%=image_tag("pizza.png") %>
												</div>
												<div class="offer-img-right">
												<%=image_tag("veg-suppreme.jpg") %>
												
												</div>
											</div>
											<div class="offer-desc clearfix">
												<div class="discount-offer">10% off  </div>
												<div class="offer-name">Country feast pizza <span class="pull-right">£ 2.70 </span></div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="offer-zone">
											<div class="offer-img clearfix">
												<div class="offer-img-left">
													<%=image_tag("pizza.png") %>
												</div>
												<div class="offer-img-right">
												<%=image_tag("veg-suppreme.jpg") %>
												
												</div>
											</div>
											<div class="offer-desc clearfix">
												<div class="discount-offer">Free Lava Cake </div>
												<div class="offer-name">with any medium pizza</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="offer-zone">
											<div class="offer-img clearfix">
												<div class="offer-img-left">
													<%=image_tag("pizza.png") %>
												</div>
												<div class="offer-img-right">
												<%=image_tag("veg-suppreme.jpg") %>
												</div>
											</div>
											<div class="offer-desc clearfix">
												<div class="discount-offer">Free Fries</div>
												<div class="offer-name">with every burger</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>

</main>	