<!DOCTYPE html>
<html class="no-js" lang="en" >
<head>
  <title>Swoope</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true  %>
  <%= csrf_meta_tags %>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta content="" name="description">
    <meta content="" name="author">
    <link href="assets/favicon.ico" rel="icon">
    <title>SWOOPE</title>
    
  </head>
<body class="loading" >
<div id="fb-root"></div>
 <%= render 'layouts/header' %>

 <div class="flash_container">
    <div id="messages">
      <div class="message-container">
        <% flash.each_with_index do |(k,v),i| %>
            <div id="message-<%= i %>" class="actual-message_alert-<%= k.to_s.sub('_stay', '')  %>" style="color:red; text-align: center; font-size: 20px; padding-bottom: .2cm; "><%= raw v %>
               <a  href="Swoope://"  class="btn btn-success" data-dismiss="alert">Open</a>
             </div>   
        <% end %>
      </div>
    </div>
  </div>

  <%= yield %>

  

 <%= render 'layouts/footer' %>
</body>
</html>
