<!DOCTYPE html>
<html class="no-js" lang="en" >
<head>
  <title>Swoope</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta content="" name="description">
    <meta content="" name="author">
    <link href="images/favicon.ico" rel="icon">
    <title>SWOOPE</title>

    <!-- Bootstrap -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/font-awesome.min.css" rel="stylesheet">
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/assets/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link rel="author" href="https://plus.google.com/u/0/109859280204979591787/about"/>
	<!-- <link rel="stylesheet" href="/assets/normalize.css"> -->
	<link rel="stylesheet" href="/assets/main.css">
	<!--<script src="js/vendor/modernizr-2.7.1.min.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body class="loading" >
 <%= render 'layouts/header' %>

 <div class="flash_container">
    <div id="messages">
      <div class="message-container">
        <% flash.each_with_index do |(k,v),i| %>
            <div id="message-<%= i %>" class="actual-message_alert-<%= k.to_s.sub('_stay', '')  %>" style="color:red; text-align: center; font-size: 20px; padding-bottom: .2cm; "><%= raw v %>
               <a  href="Swoope://"  class="btn btn-success" data-dismiss="alert">Open</a>
             </div>   
        <% end %>
      </div>
    </div>
  </div>

  <%= yield %>

 <%= render 'layouts/footer' %>
</body>
</html>
